REACT_APP_MAILCHIMP_U=
REACT_APP_MAILCHIMP_ID=
REACT_APP_STORAGE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwZjNjMjI4OS1hMTViLTQyNmQtOTg0MC0zNzY4NGNlODlmOGYiLCJlbWFpbCI6InZlbnVzd2hpc3BlcmVyNDEyQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJhYjIzMjkyMDM0MmNkNDllMzFiZSIsInNjb3BlZEtleVNlY3JldCI6Ijc5YjZiZWJmNWJkMjM4YTg3NTg4ZTZiNDZhN2E0MDQ4NGRjNzhiMmM3MGVmMTJlZjdhOTMyN2NkMGQ4YjRlZDYiLCJpYXQiOjE3MDY2NDAwOTF9.M6MEspxsWQgFZ9-ST06F4TtiYHi-B62OrHBfgo1FQxo"